#about {
    position: relative;
    display: flex;
    // flex-direction: column;
    // align-items: center;

    .introduce {
        position: relative;
        display: flex;
        width: 100%;

        .introducePhoto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 10px;
            width: 40%;
            
            img {
            width: 55%;
            height: auto;
            margin-right: 15%;
            z-index: 2;
            box-shadow: 46px -43px #516189;
            }
        }

        .introduceStory::before {
            position: absolute;
            top: 30%;
            background-color: #c5c5c5;
            content: "";
            height: 1px;
            width: 35%;
            margin-bottom: 15px;
        }

        .introduceStory{
            position: relative;
                // display: flex;
                // flex-direction: column;
                // justify-content: flex-start;
            width: 50%;
            color: #3b3a3a;
            margin-left: 5%;
            // padding-right: 15%;

                h1 {
                   position: absolute;
                   top: 35%;
                   font-family: 'Josefin Sans', sans-serif;
                   font-size: 40px;
                   color: #31569b;
                }

                h2 {
                    position: absolute;
                    top: 45%;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 25px;
                    font-weight: 500;
                }

                p {
                    position: absolute;
                    top: 50%;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    word-spacing: 10px;
                    padding-right: 15%;
                }

                .socialAbout {
                    position: absolute;
                    top: 80%;
                    width: 100%;
                    
                    a {

                        i.fab {
                            color: #474747;
                            font-size: 25px;
                            margin-right: 1%;
                        }
                    }
                }
        }
    }
}
    

    
/* smartphones ----------------------*/
@media only screen and (max-device-width: 480px) {

    #about {

        .introduce {
            height: 100vh;
            flex-direction: column;
            align-items: center;

            .introducePhoto {
                position: absolute;
                top: 7%;
                width: 100%;
                flex-direction: row;

                img {
                    width: 30%;
                    z-index: 0;
                    box-shadow: 23px -20px #516189;
                }
            }

            .introduceStory::before {
                top: 0;
            }

            .introduceStory {
                position: absolute;
                top: 35%;
                width: 90%;
                height: 55%;

                h1 {
                    top: 7%;
                }

                h2 {
                    top: 20%;
                    font-size: 23px;
                }

                p {
                    top: 35%;
                    font-size: 14px;
                }

                .socialAbout {
                    top: 85%;

                    a {
                        i.fab {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
} 


/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

    #about {
        
        .introduce {

            .introducePhoto {
                width: 35%;

                img {
                    width: 50%;
                    box-shadow: 35px -30px #516189;
                }
            }

            .introduceStory::before {
                top: 10%
            }

            .introduceStory {

                h1 {
                    top: 15%;
                    font-size: 32px;

                }

                h2 {
                    top: 25%;
                    font-size: 20px;
                }

                p {
                    top: 36%;
                    padding-right: 0;
                    font-size: 15px;
                }

                .socialAbout {
                    top: 90%;

                    a {

                        i.fab {
                            font-size: 17px;
                        }
                    }
                }

            }
        }
    }
}