#home {
    position: relative;
    background-image: url("/img/home_background(1).jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    aside::before {
        background-color: #c5c5c5;
        content: "";
        height: 50px;
        width: 1px;
        margin-bottom: 15px;
    }

    aside.social {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        display: flex;
        flex-direction: column;

        a {
            margin-bottom: 55%;

            i.fab {
                color: #fff;
            }
        }
    }

    .homeIntroduce {
        font-family: 'Raleway', sans-serif;
        text-align: center;

        p {
            padding-top: 1vh;
            font-size: 35px;
            font-weight: bold;
            color: #fff;

            span {
                color: #04C2C9;
            }
        }

        button {
            width: 200px;
            margin-top: 7vh;
            padding: 1vh;
            font-size: 25px;
            color: #fff;
            cursor: pointer;
            border: 2px solid #fff;
            background-color: transparent;

            .fas {
                margin-left: 20px;
            }

        }
    }
}

@media only screen and (max-width: 1024px) {
    #home {

        aside.social {
            top: 75%;
        }

        .homeIntroduce {
            width: 75%;

            p {
                font-size: 20px;
            }

            button {
                font-size: 15px;
                border: 1px solid white;
                outline: none;
            }
        }
    }
}