// menu
nav.nav {
    background-color: #000;
    opacity: .6;
    position: fixed;
    width: 100%;
    z-index: 1;
    transform: scale(0);

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;

        li {
            list-style: none;
            cursor: pointer;

            a {
                font-size: 15px;
                color: #c5c5c5;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 7vh;
                margin-right: 25px;
            }
        }

        li:hover a {
            animation: navColorChange 1.5s linear;
        }


    }
}

nav.active {
    animation: showNav .5s linear both;
}

div.arrow {
    display: none;
}

div.burger {
    display: none;
}

nav.mobile {
    display: none;
}

@keyframes navColorChange {
    0% {
        color: grey;
    }

    10% {
        color: white;
    }

    50% {
        color: purple;
    }

    100% {
        color: grey;
    }

}

// show menu
@keyframes showNav {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* smartphones ----------------------*/
@media only screen and (max-device-width: 480px) {
    nav.nav {
        display: none;
    }

    #home {
        z-index: 2;
    }

    div .arrow {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        width: 30px;
        text-align: center;
        font-size: 30px;
        color: #1B242F;
        z-index: 1;
        transition: .3s linear;
        cursor: pointer;
    }

    div.arrow.on {
        top: 200px;
        transform: rotate(180deg);
    }


    nav.mobile {
        display: block;
        position: fixed;
        width: 100%;
        top: -185px;
        left: 0;
        background-color: #1B242F;
        z-index: 1;
        transition: .3s linear;

        .active {
            animation: showNav .5s linear both;
        }


        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: center;


            li {
                color: white;


                a {
                    cursor: pointer;
                    text-align: center;
                    padding: 10px;

                    // pointer catch link wider  
                    display: block;
                    width: 100vw;

                }

                a:hover {
                    background-color: black;
                }
            }
        }
    }

    nav.on {
        top: 0;
    }
}


// @media only screen and (max-width: 1024px)

/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    nav.nav {
        display: none;
    }

    #home {
        z-index: 2;
    }

    div .arrow {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        width: 30px;
        text-align: center;
        font-size: 30px;
        color: #1B242F;
        z-index: 1;
        transition: .3s linear;
        cursor: pointer;
    }

    div.arrow.on {
        top: 200px;
        transform: rotate(180deg);
    }


    nav.mobile {
        display: block;
        position: fixed;
        width: 100%;
        top: -185px;
        left: 0;
        background-color: #1B242F;
        z-index: 1;
        transition: .3s linear;

        .active {
            animation: showNav .5s linear both;
        }


        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: center;


            li {
                color: white;


                a {
                    cursor: pointer;
                    text-align: center;
                    padding: 10px;

                    // pointer catch link wider  
                    display: block;
                    width: 100vw;

                }

                a:hover {
                    background-color: black;
                }
            }
        }
    }

    nav.on {
        top: 0;
    }
}

