#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5%;
    }

    .links {
        position: relative;
        width: 70%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .projectCover {
            position: relative;
            width: 25%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: center;
            background-size: cover;
            cursor: pointer;

            h3 {
                font-size: 18px;
                text-align: center;
                text-transform: capitalize;
                color: #f1e9e9;
                transform: scale(1);
            }

            i {
                position: absolute;
                color: #f1e9e9;
                font-weight: 600;
                transform: translateX(-50%) scale(0) rotate(0);
                font-size: 30px;

                a {
                    padding-left: 5%;
                    text-decoration: none;
                    color: #f1e9e9;
                }
            }

            i.fa-code {
                top: 57px;
                left: 50%;
            }

            i.fa-github {
                top: 110px;
                left: 50%;
            }
        }

        .projectCover.on {
            animation: backgroundRotate 1s .2s linear;


            h3 {
                animation: hideTitle 1s .2s linear both;

            }

            i {
                animation: showLink 1s .2s linear both;
            }
        }




        .project1 {
            background-image: url("../../img/home_background(1).jpg");
        }


        .project2 {
            background-image: url("../../img/home_background(1).jpg");

            // h3 {
            //     color: darkgrey;
            // }

            // i {
            //     color: white;
            // }
        }

        .project3 {
            background-image: url("../../img/project03.jpg");
        }

        // .project4 {
        //     background-image: url("../../img/project04.jpg");
        // }

        // .project5 {
        //     background-image: url("../../img/project05.jpg");
        // }

        // .project6 {
        //     background-image: url("../../img/project06.jpg");
        // }


    }

    .links::after {
        position: absolute;
        bottom: -20px;
        background-color: #000;
        content: "";
        height: 1px;
        width: 48%;
    }
}

@keyframes backgroundRotate {
    0% {
        transform: rotateX(0) scale(1);
    }

    50% {
        transform: rotateX(180deg) scale(0);
    }

    100% {
        transform: rotateX(360deg) scale(1);
    }
}

@keyframes showLink {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes hideTitle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}



/* smartphones ----------------------*/
@media only screen and (max-width: 480px) {

    #projects {
        height: 70vh;

        h1 {
            font-size: 16px;
            text-align: center;
        }

        .links {
            width: 100%;

            .projectCover {
                height: 40%;

                h3 {
                    font-size: .5em;
                }

                i {
                    font-size: .75em;
                }

                i.fa-code {
                    top: 40px;
                }

                i.fa-github {
                    top: 65px
                }
            }
        }
    }


}

/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    #projects {
        width: 90%;
        margin-left: 5%;

        .links {
            width: 100%;
            height: 55%;
        
            .projectCover {
                height: 60%;

                h3 {
                    font-size: .5em;
                }

                i {
                    font-size: .75em;
                }

                i.fa-code {
                    top: 40px;
                }

                i.fa-github {
                    top: 65px
                }
            }
        }
    }
}