* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    // background-color: #F8F8F8;
    background-color: #eeebeb;
}

section {
    height: 100vh;
    width: 100%;
}

@import 'wrapper';
@import 'nav';
@import 'home';
@import 'about';
@import 'technologies';
@import 'projects';
@import 'contact';
@import 'footer';