* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: #eeebeb;
}

section {
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.nav {
  background-color: #000;
  opacity: .6;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

nav.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 7vw;
}

nav.nav ul li {
  list-style: none;
  cursor: pointer;
}

nav.nav ul li a {
  font-size: 15px;
  color: #c5c5c5;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 7vh;
  margin-right: 25px;
}

nav.nav ul li:hover a {
  -webkit-animation: navColorChange 1.5s linear;
          animation: navColorChange 1.5s linear;
}

nav.active {
  -webkit-animation: showNav .5s linear both;
          animation: showNav .5s linear both;
}

div.arrow {
  display: none;
}

div.burger {
  display: none;
}

nav.mobile {
  display: none;
}

@-webkit-keyframes navColorChange {
  0% {
    color: grey;
  }
  10% {
    color: white;
  }
  50% {
    color: purple;
  }
  100% {
    color: grey;
  }
}

@keyframes navColorChange {
  0% {
    color: grey;
  }
  10% {
    color: white;
  }
  50% {
    color: purple;
  }
  100% {
    color: grey;
  }
}

@-webkit-keyframes showNav {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showNav {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* smartphones ----------------------*/
@media only screen and (max-device-width: 480px) {
  nav.nav {
    display: none;
  }
  #home {
    z-index: 2;
  }
  div .arrow {
    display: block;
    position: fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: #1B242F;
    z-index: 1;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    cursor: pointer;
  }
  div.arrow.on {
    top: 200px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  nav.mobile {
    display: block;
    position: fixed;
    width: 100%;
    top: -185px;
    left: 0;
    background-color: #1B242F;
    z-index: 1;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  nav.mobile .active {
    -webkit-animation: showNav .5s linear both;
            animation: showNav .5s linear both;
  }
  nav.mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.mobile ul li {
    color: white;
  }
  nav.mobile ul li a {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    display: block;
    width: 100vw;
  }
  nav.mobile ul li a:hover {
    background-color: black;
  }
  nav.on {
    top: 0;
  }
}

/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  nav.nav {
    display: none;
  }
  #home {
    z-index: 2;
  }
  div .arrow {
    display: block;
    position: fixed;
    top: 15px;
    right: 20px;
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: #1B242F;
    z-index: 1;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    cursor: pointer;
  }
  div.arrow.on {
    top: 200px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  nav.mobile {
    display: block;
    position: fixed;
    width: 100%;
    top: -185px;
    left: 0;
    background-color: #1B242F;
    z-index: 1;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  nav.mobile .active {
    -webkit-animation: showNav .5s linear both;
            animation: showNav .5s linear both;
  }
  nav.mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.mobile ul li {
    color: white;
  }
  nav.mobile ul li a {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    display: block;
    width: 100vw;
  }
  nav.mobile ul li a:hover {
    background-color: black;
  }
  nav.on {
    top: 0;
  }
}

#home {
  position: relative;
  background-image: url("../../img/home_background(1).jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home aside::before {
  background-color: #c5c5c5;
  content: "";
  height: 50px;
  width: 1px;
  margin-bottom: 15px;
}

#home aside.social {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home aside.social a {
  margin-bottom: 55%;
}

#home aside.social a i.fab {
  color: #c5c5c5;
  font-size: 15px;
}

#home .homeIntroduce {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#home .homeIntroduce p {
  padding-top: 1vh;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

#home .homeIntroduce p span {
  color: #31569b;
  font-size: 40px;
}

#home .homeIntroduce button {
  width: 200px;
  margin-top: 7vh;
  padding: 1vh;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #c5c5c5;
  border-radius: 30px;
  background-color: transparent;
}

#home .homeIntroduce button .fas {
  margin-left: 20px;
}

#home .homeIntroduce button:focus {
  outline: none;
}

/* smartphones ----------------------*/
@media only screen and (max-device-width: 480px) {
  #home aside.social {
    top: 80%;
    left: 5%;
  }
  #home .homeIntroduce {
    width: 75%;
  }
  #home .homeIntroduce p {
    font-size: 20px;
  }
  #home .homeIntroduce button {
    font-size: 15px;
    border: 1px solid white;
    outline: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #home aside.social {
    top: 70%;
  }
}

#about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .introduce {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#about .introduce .introducePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  width: 40%;
}

#about .introduce .introducePhoto img {
  width: 55%;
  height: auto;
  margin-right: 15%;
  z-index: 2;
  -webkit-box-shadow: 46px -43px #516189;
          box-shadow: 46px -43px #516189;
}

#about .introduce .introduceStory::before {
  position: absolute;
  top: 20%;
  background-color: #c5c5c5;
  content: "";
  height: 1px;
  width: 35%;
  margin-bottom: 15px;
}

#about .introduce .introduceStory {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  color: #3b3a3a;
  margin-left: 5%;
}

#about .introduce .introduceStory h1 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 35%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  color: #31569b;
}

#about .introduce .introduceStory h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

#about .introduce .introduceStory p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 10px;
  padding-right: 15%;
}

#about .introduce .introduceStory .socialAbout {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  width: 100%;
}

#about .introduce .introduceStory .socialAbout a i.fab {
  color: #474747;
  font-size: 25px;
  margin-right: 1%;
}

/* smartphones ----------------------*/
@media only screen and (max-device-width: 480px) {
  #about .introduce {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .introduce .introducePhoto {
    position: absolute;
    top: 7%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .introduce .introducePhoto img {
    width: 30%;
    z-index: 0;
    -webkit-box-shadow: 23px -20px #516189;
            box-shadow: 23px -20px #516189;
  }
  #about .introduce .introduceStory::before {
    top: 0;
  }
  #about .introduce .introduceStory {
    position: absolute;
    top: 35%;
    width: 90%;
    height: 55%;
  }
  #about .introduce .introduceStory h1 {
    top: 7%;
  }
  #about .introduce .introduceStory h2 {
    top: 20%;
    font-size: 23px;
  }
  #about .introduce .introduceStory p {
    top: 35%;
    font-size: 14px;
  }
  #about .introduce .introduceStory .socialAbout {
    top: 85%;
  }
  #about .introduce .introduceStory .socialAbout a i.fab {
    font-size: 17px;
  }
}

/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #about .introduce .introducePhoto {
    width: 35%;
  }
  #about .introduce .introducePhoto img {
    width: 50%;
    -webkit-box-shadow: 35px -30px #516189;
            box-shadow: 35px -30px #516189;
  }
  #about .introduce .introduceStory::before {
    top: 10%;
  }
  #about .introduce .introduceStory h1 {
    top: 15%;
    font-size: 32px;
  }
  #about .introduce .introduceStory h2 {
    top: 25%;
    font-size: 20px;
  }
  #about .introduce .introduceStory p {
    top: 36%;
    padding-right: 0;
    font-size: 15px;
  }
  #about .introduce .introduceStory .socialAbout {
    top: 90%;
  }
  #about .introduce .introduceStory .socialAbout a i.fab {
    font-size: 17px;
  }
}

#technologies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85vh;
  background-color: #f1eeee;
}

#technologies h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 12%;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

#technologies .trianglesAndIcons {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies .trianglesAndIcons .leftTriangle {
  height: 100%;
  width: 37vw;
  background-image: url("../../img/triangle_technologies(1).jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

#technologies .trianglesAndIcons .rightTriangle {
  height: 100%;
  width: 37vw;
  background-image: url("../../img/triangle_technologies(1).jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(100% 0, 0% 50%, 100% 100%);
          clip-path: polygon(100% 0, 0% 50%, 100% 100%);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

#technologies .trianglesAndIcons .technologiesIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#technologies .trianglesAndIcons .technologiesIcons .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 10vh;
}

#technologies.active .fa-html5 {
  -webkit-animation: moveHtmlIcon 1s linear both;
          animation: moveHtmlIcon 1s linear both;
}

#technologies.active .fa-css3-alt {
  -webkit-animation: moveCssIcon 1s .5s linear both;
          animation: moveCssIcon 1s .5s linear both;
}

#technologies.active .fa-js {
  -webkit-animation: moveJsIcon 1s 1s linear both;
          animation: moveJsIcon 1s 1s linear both;
}

#technologies.active .fa-sass {
  -webkit-animation: moveSassIcon 1s 1.5s linear both;
          animation: moveSassIcon 1s 1.5s linear both;
}

#technologies.active .fa-react {
  -webkit-animation: moveReactIcon 1s 2s linear both;
          animation: moveReactIcon 1s 2s linear both;
}

@-webkit-keyframes moveHtmlIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 0;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@keyframes moveHtmlIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 0;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@-webkit-keyframes moveCssIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 0;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@keyframes moveCssIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 0;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@-webkit-keyframes moveJsIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 100%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@keyframes moveJsIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 100%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@-webkit-keyframes moveSassIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 100%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@keyframes moveSassIcon {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    top: 100%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@-webkit-keyframes moveReactIcon {
  0% {
    top: 50%;
    left: -100%;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    color: white;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    color: white;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@keyframes moveReactIcon {
  0% {
    top: 50%;
    left: -100%;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    color: white;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    color: white;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(720deg);
            transform: translate(-50%, -50%) scale(1) rotate(720deg);
    color: #353232;
  }
}

@media only screen and (max-width: 1024px) {
  #technologies .trianglesAndIcons .leftTriangle {
    background-position: 20%;
  }
  #technologies .trianglesAndIcons .rightTriangle {
    background-position: 80%;
  }
  #technologies .trianglesAndIcons .technologiesIcons .fab {
    font-size: 5vh;
  }
}

@media only screen and (max-width: 1024px) {
  #technologies h1 {
    font-size: 20px;
  }
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5%;
}

#projects .links {
  position: relative;
  width: 70%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .links .projectCover {
  position: relative;
  width: 25%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#projects .links .projectCover h3 {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #f1e9e9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#projects .links .projectCover i {
  position: absolute;
  color: #f1e9e9;
  font-weight: 600;
  -webkit-transform: translateX(-50%) scale(0) rotate(0);
          transform: translateX(-50%) scale(0) rotate(0);
  font-size: 30px;
}

#projects .links .projectCover i a {
  padding-left: 5%;
  text-decoration: none;
  color: #f1e9e9;
}

#projects .links .projectCover i.fa-code {
  top: 57px;
  left: 50%;
}

#projects .links .projectCover i.fa-github {
  top: 110px;
  left: 50%;
}

#projects .links .projectCover.on {
  -webkit-animation: backgroundRotate 1s .2s linear;
          animation: backgroundRotate 1s .2s linear;
}

#projects .links .projectCover.on h3 {
  -webkit-animation: hideTitle 1s .2s linear both;
          animation: hideTitle 1s .2s linear both;
}

#projects .links .projectCover.on i {
  -webkit-animation: showLink 1s .2s linear both;
          animation: showLink 1s .2s linear both;
}

#projects .links .project1 {
  background-image: url("../../img/home_background(1).jpg");
}

#projects .links .project2 {
  background-image: url("../../img/project02.jpg");
}

#projects .links .project2 h3 {
  color: darkgrey;
}

#projects .links .project2 i {
  color: white;
}

#projects .links .project3 {
  background-image: url("../../img/project03.jpg");
}

#projects .links .project4 {
  background-image: url("../../img/project04.jpg");
}

#projects .links .project5 {
  background-image: url("../../img/project05.jpg");
}

#projects .links .project6 {
  background-image: url("../../img/project06.jpg");
}

#projects .links::after {
  position: absolute;
  bottom: -20px;
  background-color: #000;
  content: "";
  height: 1px;
  width: 48%;
}

@-webkit-keyframes backgroundRotate {
  0% {
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
  50% {
    -webkit-transform: rotateX(180deg) scale(0);
            transform: rotateX(180deg) scale(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) scale(1);
            transform: rotateX(360deg) scale(1);
  }
}

@keyframes backgroundRotate {
  0% {
    -webkit-transform: rotateX(0) scale(1);
            transform: rotateX(0) scale(1);
  }
  50% {
    -webkit-transform: rotateX(180deg) scale(0);
            transform: rotateX(180deg) scale(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) scale(1);
            transform: rotateX(360deg) scale(1);
  }
}

@-webkit-keyframes showLink {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes showLink {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes hideTitle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hideTitle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* smartphones ----------------------*/
@media only screen and (max-width: 480px) {
  #projects {
    height: 70vh;
  }
  #projects h1 {
    font-size: 16px;
    text-align: center;
  }
  #projects .links {
    width: 100%;
  }
  #projects .links .projectCover {
    height: 40%;
  }
  #projects .links .projectCover h3 {
    font-size: .5em;
  }
  #projects .links .projectCover i {
    font-size: .75em;
  }
  #projects .links .projectCover i.fa-code {
    top: 40px;
  }
  #projects .links .projectCover i.fa-github {
    top: 65px;
  }
}

/* tablets --------------------------------*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #projects {
    width: 90%;
    margin-left: 5%;
  }
  #projects .links {
    width: 100%;
    height: 55%;
  }
  #projects .links .projectCover {
    height: 60%;
  }
  #projects .links .projectCover h3 {
    font-size: .5em;
  }
  #projects .links .projectCover i {
    font-size: .75em;
  }
  #projects .links .projectCover i.fa-code {
    top: 40px;
  }
  #projects .links .projectCover i.fa-github {
    top: 65px;
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 7vh;
  background-color: #1B242F;
}

footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

/* smartphones ----------------------*/
@media only screen and (max-width: 480px) {
  footer p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */